.App {
  text-align: center;
  /* access desk image in public/Images */
}
body{
  background-image: url('/src/Images/table.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.inputForm{
  background-image: url('/src/Images/notebook.png');
  background-repeat: no-repeat;
  z-index: 10;
  position: fixed;
  padding: 110px;
  background-size: cover;
  overflow: visible;
  bottom: 500px
}

.justForm{
  padding: 110px;
  position: relative;

}

.quiz{
  background-image: url('/src/Images/notebook.png');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  background-size: 600px;
  overflow: visible;
  min-height: 300px;
  max-width: 600px;
  top: 50%;
  bottom: 0%;
  right: 50%;
  left: 10%;
}
.TestMeBtn{
  background-color: #65543F;
  color: white;
  z-index: 3;
  border-radius: 8px;
  font-size: medium;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 200px;
}

.blurry-text {
  filter: blur(4px);
  transition: all 0.3s ease;
  }
.blurry-text:hover, .blurry-text:focus {
  filter: blur(0);
  }

p {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}