.App {
  text-align: center;
  /* access desk image in public/Images */
}
body{
  background-image: url('/src/Images/table.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.inputForm{
  background-image: url('/src/Images/notebook.png');
  background-repeat: no-repeat;
  z-index: 10;
  position: fixed;
  padding: 110px;
  background-size: cover;
  overflow: visible;
}

.justForm{
  padding: 110px;
  position: relative;

}
.TestMeBtn{
  background-color: #65543F;
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: medium;
  text-align: center;
  position: fixed;
  bottom: 4px;
  right: 5;
}

.blurry-text {
  filter: blur(4px);
  transition: all 0.3s ease;
  }
.blurry-text:hover, .blurry-text:focus {
  filter: blur(0);
  }