.App {
  
  /* access desk image in public/Images */
  display: grid;
  grid-template-columns: repeat(30, 50px);
  grid-template-rows: repeat(50, 20px);
  background-image: url("/src/Images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
}



.inputForm {
  background-image: url("/src/Images/notebook.png");
  background-repeat: no-repeat;
  display: grid;
  grid-column: 2 /10;
  grid-row: 6 / 29;
  z-index: 5;
  
}

.riddler {
  background-image: url("/src/Images/Riddler-removebg.png");
  background-repeat: no-repeat;
  display: grid;
  grid-column: 14;
  grid-row: 9 / 10;
  margin-left: 18px;
  z-index: 10;
  width: 300px;
  height: 300px;
  border: none;
   
}
.justForm {
  padding: 110px;
  padding-top: 76px;
  display: grid;
  grid-row: 3 / 9;
  margin-left: 50px;  
}

input {
  border-radius: 8px;
}

.addMeButton {
  background-color: #65543f;
  color: white;
  font-size: medium;
  z-index: 5;
  border-radius: 8px;
}

.quiz {
  background-image: url("/src/Images/notebook.png");
  background-repeat: no-repeat;
  display: grid;
  grid-column: 12 / 24;
  grid-row: 6 / 29;
  z-index: 10;
}

.TestMeBtn {
  display: grid;
  background-color: #65543f;
  color: white;
  font-size: medium;
  z-index: 5;
  border-radius: 8px;  
}

.testMeDiv {
  display: grid;
  grid-column: 16 /18;
  grid-row: 26;
  z-index: 10;
}

.clearFactsButton {
  display: grid;
  grid-column: 6/ 8;
  grid-row: 26 /27;
  background-color: #65543f;
  color: white;
  font-size: medium;
  z-index: 7;
  border-radius: 8px;
}

.quizDisplay{
  display: grid;
  grid-column: 11 / 15;
  grid-row: 18/ 23;
  z-index: 11;
  background-color: #65543f;

}

.blurry-text {
  display: grid;
  grid-column: 15 / 19;
  grid-row: 13/ 25;
  z-index: 12;
  filter: blur(4px);
  transition: all 1.0s ease;
  background-color: #65543f;
  border-radius: 8px;
}
.blurry-text:hover,
.blurry-text:focus {
  filter: blur(0);
}

p {
  display: grid;
  grid-column: 15 / 19;
  grid-row: 10 / 12;
  z-index: 11;
  font-size: 17px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #65543f;
  border-radius: 8px;
  }

.header{
  color: white;
  font-size: 2em;
  padding-left: 20px;
  display: grid;
  grid-column: 1/ 15;
  grid-row: 1 / 2;
  padding-top: 10px;
}

img{
  display: grid;
  grid-column: 23;
  grid-row: 1/2;
  height: 110px;
  width: auto;
}

.textarea {
  max-width: 170px;
  height: 170px;
  margin-bottom: 0px;
  border-radius: 8px;
}
/* .logo{
  background-image: url("/src/Images/logo.png");
  background-repeat: no-repeat;
  display: grid;
   grid-column: 11 / 19;
  grid-row: 1 / 15;
  z-index: 10;
} */
